

.wrapper {
    width: 90%;
    overflow: hidden;
    min-height: 90%;
    padding: 50px;
}

.block {

}

.block_column_1 {

}
.block_column_2 {

}
.block_column_3 {

}

.block_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    


    border: 20px solid #ece89d;
    margin: 0px 0px 20px 0px;
    height: 1200px;
}

.block_column {
    border: 20px solid #5e5373;

}

.block_item {
    background-color: rgb(255, 231, 235);
    padding: 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;

}

